/* General container styles */
.btnsContainer {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on small screens */
  align-items: center;
  width: 100%;
  gap: 10px; /* Space between items */
  margin: 2rem 0; /* Increased vertical margins */
}

/* Input container */
.input {
  position: relative;
  width: 100%; /* Full width on small screens */
}

/* Options row for buttons */
.optionsRow {
  display: flex;
  gap: 10px; /* Space between the dropdown and buttons */
  width: 100%;
  justify-content: space-between; /* Aligns buttons with space on small screens */
}

/* Dropdown and button styles */
.sortDropdown,
.manageBtn,
.addSubTagBtn {
  flex-shrink: 0; /* Prevent shrinking */
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .btnsContainer {
    flex-direction: row; /* Align in a row on large screens */
    flex-wrap: nowrap; /* Prevent wrapping on large screens */
  }

  .input {
    width: 40%; /* Input takes up 40% on large screens */
  }

  .optionsRow {
    width: 60%; /* Options take up remaining 60% */
    justify-content: flex-start; /* Aligns buttons in a row without extra space on large screens */
  }

  .manageBtn {
    margin-left: 10px; /* Margin between sort button and manage button */
  }
}

.errorContainer {
  min-height: 100vh;
}

.errorMessage {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorIcon {
  transform: scale(1.5);
  color: var(--bs-danger);
  margin-bottom: 1rem;
}

.tableHeader {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  font-size: 1rem;
}
.rowBackground {
  background-color: var(--bs-white);
  max-height: 120px;
}

.subTagsLink {
  color: var(--bs-blue);
  font-weight: 500;
  cursor: pointer;
}

.subTagsLink i {
  visibility: hidden;
}

.subTagsLink:hover {
  font-weight: 600;
  text-decoration: underline;
}

.subTagsLink:hover i {
  visibility: visible;
}

.tagsBreadCrumbs {
  color: var(--bs-gray);
  cursor: pointer;
}

.tagsBreadCrumbs:hover {
  color: var(--bs-blue);
  font-weight: 600;
  text-decoration: underline;
}

.subTagsScrollableDiv {
  scrollbar-width: auto;
  scrollbar-color: var(--bs-gray-400) var(--bs-white);

  max-height: calc(100vh - 18rem);
  overflow: auto;
}
